node_modules

.DS_Store
.cache
.vercel
.output
.nitro
/build/
/dist/
/api/
/server/build
/public/build
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.tanstack
.wrangler

.source
.next
